.purchase-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand";
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@media (max-width: 525px) {
  .purchase-item {
    width: 100%;
  }
  .purchase-total {
    padding: 0;
    justify-content: space-evenly;
  }
  .total-purchase-p {
    display: none;
  }
}

.purchase-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.purchase-item h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.purchase-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  gap: 3rem;
}

.item-title {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
}

.item-details {
  font-size: 12px;
}

.item-details .price {
  color: #4caf50;
  font-weight: bold;
}

.purchase-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #317d24;
  width: 100%;
  padding: 0.5rem;
  font-family: "jost";
  font-weight: bold;
}

.purchase-total strong{
  color:#317d24;
}

.detail-total-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.detail-total-buy button {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom right, #7b60c8, #9f8cd4);
  border: 0;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-family: "quicksand";
  font-weight: 500;
  outline: transparent;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}
.color5 {
  color: #f2ffd9;
}