.purchase-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 30rem;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand";
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
@media (max-width: 700px) {
  .purchase-item {
    width: 100%;
  }
}

.purchase-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.purchase-item h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.purchase-item-details {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  margin-top: 10px;
}

.item-image {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
}

.item-title {
  font-size: 14px;
  font-weight: bold;
}

.item-details {
  font-size: 12px;
}

.item-details .price {
  color: #4caf50;
  font-weight: bold;
}

.purchase-total {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #7b60c8;
  color: #7b60c8;
}
