.custom-select {
  position: relative;
  width: 12rem;
  border: 1px solid#317d24;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 14px;
}

.selected-option {
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  padding: 0.3rem;
}

.selected-option span {
  flex-grow: 1;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected-option svg {
  color: #317d24;
  transition: transform 0.2s;
}

.options {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid#317d24;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.options.open {
  display: block;
}

.option {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.option:hover {
  background-color: #c2deac;
  color: #000000;
}

.option.selected {
  background-color:#91be7f;
  color: #fff;
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}
.color5 {
  color: #f2ffd9;
}

