.shipping {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/bgStore2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.shipping-container {
  width: 95%;
  max-width: 35rem;
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "figtree";
  padding: 20px;
  border: 1px solid #317d24;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shipping-title {
  font-size: 20px;
  font-family: "figtree";
}
.shipping-address-card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.shipping-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.newAdress-form {
  width: 100%;
  margin: 0 !important;
}

.shipping-form-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.shipping-form-label p {
  display: flex;
  flex-wrap: nowrap;
}

.shipping-form-label select {
  font-family: "figtree";
}

.shipping-select,
.shipping-input {
  width: 100%;
  max-width: 20rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px 0;
}

.shipping-select {
  height: 40px;
}

.shipping-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 2rem;
}

.shipping-button,
.newAdress-btn {
  background-color: #619d52;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "figtree";
  font-size: 14px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shipping-button:hover,
.newAdress-btn:hover {
  background-color: #317d24;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cart-preview {
  width: 95%;
  max-width: 35rem;
  gap: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #317d24;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cart-item-shippingPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  font-size: 18px;
  font-family: "figtree";
}

.h3-shippingPage {
  font-size: 20px;
  font-family: "figtree";
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}
.color5 {
  color: #f2ffd9;
}


@media (max-width: 950px) {
  .shipping-container {
    width: 95%;
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: "figtree";
    padding: 20px;
    border: 1px solid #317d24;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .cart-preview {
    width: 95%;
    gap: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #317d24;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .shipping-address-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }
  
  .shipping-form-label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}