.forgot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
  padding: 2rem;
  background-image: url(../../assets/bgContact.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.forgot-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem;
  font-family: "quicksand";
  color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #7b60c8;
}

@media (min-width: 600px) {
  .forgot-container {
    min-width: 35rem;
  }
}

@media (max-width: 599px) {
  .forgot-container {
    max-width: 25rem;
  }
}
.error-message {
  display: flex;
  text-align: left;
  min-width: 10rem;
  color: #7b60c8;
  font-size: 0.85rem;
  padding: 2rem;
}

input:focus {
  outline: none;
}
