.custom-select-status {

  width: 9rem;
  border: 1px solid #7d3c93 !important;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.add-categorie-product-adm {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "jost";
  font-size: 18px;
}

.category-primary-admin,
.category-secondary-admin {
  display: flex;
  flex-direction: column;
}

.select-categories-modal-admin {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.selected-option-preview-addCat{
  display: flex;
  justify-content: space-between;
  font-family: "figtree";
  text-align: left;
  align-items: center;
  padding: 0.3rem;
  z-index: -1;
}

.selected-option-preview span {
  flex-grow: 1;
  padding-right: 10px;
  font-family: "figtree";
  color: #7d3c93 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected-option-preview svg {
  color: #7d3c93 !important;
  transition: transform 0.2s;
}

.options-preview {
  position: absolute;
  width: 100%;
  margin-top: 0.1rem;
  font-family: "figtree";
  color: #7d3c93;
  background-color: #fff;
  border: 1px solid #7d3c93 !important;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.options-preview.open {
  display: block;
  color: #7d3c93;
}

.option-preview {
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "figtree";
}

.option-preview:hover {
  background-color: #b4507d !important;
  color: #ffffff;
}

.option-preview.selected {
  background-color: #7d3c93 !important;
  color: #ffffff;
  font-family: "figtree";
}

/* COLORES ADMIN */
.color1 {
  color: #7d3c93;
}
.color2 {
  color: #b4507d;
}
.color3 {
  color: #d99692;
}
.color4 {
  color: #eedcd0;
}
.color5 {
  color: #fefeff;
}
