* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
}

.home {
  background-image: url(../../assets/bgKarku.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  text-align: center;
  padding: 100px 0;
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #fff;
  color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #007bff;
  color: #fff;
}

.features-section {
  padding: 80px 0;
}

.object {
  margin-bottom: 40px;
}

.object h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-section p {
  font-size: 1.2rem;
}
