.custom-select-status {
  width: 9rem;
  border: 1px solid #b4507d !important;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.selected-option-preview {
  display: flex;
  font-family: "figtree";
  text-align: left;
  justify-content: left;
  align-items: center;
  padding: 0.3rem;
}

.selected-option-preview span {
  flex-grow: 1;
  padding-right: 10px;
  font-family: "figtree";
  color: #7d3c93 !important;
  overflow: hidden;
  white-space: nowrap;
}

.selected-option-preview svg {
  color: #7d3c93 !important;
  transition: transform 0.2s;
}

.options-preview {
  display: block;
  width: 9rem;
  margin-top: 0.1rem;
  font-family: "figtree";
  color: #d99692;
  background-color: #fff;
  border: 1px solid #7d3c93 !important;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.options-preview.open {
  display: block;
  color:#d99692;
}

.option-preview {
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "figtree";
}

.option-preview:hover {
  background-color: #b4507d !important;
  color: #ffffff;
}

.option-preview.selected {
  background-color:#b4507d!important;
  color: #ffffff;
  font-family: "figtree";
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}
.color5 {
  color: #f2ffd9;
}
