<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>email= 1 Compra en Karku</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Figtree:wght@300&family=Jost:wght@300&family=figtree:wght@300;500&family=Raleway:ital,wght@0,300;1,300&display=swap");

      body {
        padding: 0;
        margin: 0;
        background-color: #f5f8fa;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
      }

      .container {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }

      .header {
        text-align: center;
        font-family: "figtree";
        padding-top: 40px;
      }

      .header img {
        width: 50%;
      }

      .title {
        font-size: 32px;
        font-weight: 800;
        color: #1a1a1a;
        margin-top: 30px;
      }

      .content {
        font-size: 18px;
        color: #1a1a1a;
        margin-top: 20px;
        font-family: "figtree";
        padding-inline: 2rem;
        max-width: 800px;
      }

      .name {
        font-family: "figtree";
        font-weight: bold;
      }

      .btn-confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      .cta-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15rem;
        padding: 1rem;
        background-color: #317d24;
        color: #ffffff;
        font-family: "figtree";
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 2rem;
      }

      .footer {
        background-color: #91be7f;
        width: 800px;
        text-align: center;
        font-family: "figtree";
        color: #ffffff;
        margin-top: 3rem;
        padding: 0.5rem;
      }

      .footer-text {
        font-size: 15px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <img
          src="https://res.cloudinary.com/dqai9sgfs/image/upload/v1695842114/logoKarkuCircular_2_g6ypmw.png"
          alt="Email"
        />
        <div class="title">Karku - Cosmética Natural</div>
      </div>
      <div class="content">
        <p>Hola,</p>
        <p>
          Hemos recibido tu compra en Karku con el correo
          <b><%= email %></b>. Para dar curso a la entrega, es necesario
          realizar el pago correspondiente al costo de envío.</p>
        <div class="ShipOptions">
          <p>
            <strong>Envío por Correo:</strong> Si seleccionaste el método de
            envio por correo, en breve recibirás la notificacion para abonar el
            costo de envío y el número de seguimiento del mismo.
          </p>
          <p>
            <strong>Acordar con el vendedor:</strong> Si seleccionaste acordar
            con el vendedor para recibir tu compra, podes contactarte con Karku
            a través de este mismo mail.
          </p>

          <p>
            <strong>¡Muchas Gracias!
          </p>
        </div>
      </div>

      <div class="footer">
        <p>KARKU &copy;</p>
      </div>
    </div>
  </body>
</html>
