.container-footer {
  padding: 1.5rem;
  background-color:  #ff734f;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-family: "Figtree";
}
