.container-footer {
  padding: 1.5rem;
  background-color: #f38f82;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-family: "Figtree";
}
