.navbar-store {
  position: fixed;
  width: 100%;
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  background-image: url(../../assets/bgKarkuStore.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 5%;
  text-transform: capitalize;
  font-family: "quicksand";
}

@media (max-width: 762px) {
  .store-container {
    align-items: center;
  }
}

.sidebar {
  margin-top: 100px;
  width: 15rem;
  background-color: #f8f8f8;
  color: #f38f82;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar ul li {
  cursor: pointer;
  margin: 10px;
  list-style-type: none;
}

.sidebar ul li.active {
  font-weight: bold;
  color: #7b60c8;
  list-style-type: none;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-left: 15rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
  flex: 1;
}

@media (max-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-left: 0;
    padding-top: 0;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 21rem;
  height: 35rem;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-decoration: none;
  color: #333333;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 15px;
}

.link {
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-image img {
  width: 100%;
  height: 15rem;
  border-radius: 15px;
}

.product-image img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-info {
  margin-left: 15px;
}

.detail-title {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.detail-price {
  font-weight: bold;
  color: #7b60c8;
}

.buttons-quantity {
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 10px;
  align-items: center;
}

.add-to-cart-button-store {
  background: linear-gradient(to bottom right, #7511b8a6, #a143f8b6);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "quicksand";
  font-weight: 500;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 2rem;
}

.add-to-cart-button-store:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(91, 27, 175, 0.5),
    0.125rem 0.125rem 1rem rgba(32, 106, 156, 0.5);
}

.add-to-cart-button-store:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(146, 35, 211, 0.5),
    -0.125rem -0.125rem 1rem rgba(91, 27, 175, 0.5),
    0.125rem 0.125rem 1rem rgba(91, 13, 218, 0.5);
}

.detail-dimensions {
  font-weight: bold;
  color: #7b60c8;
  padding: 1rem;
}

.filters-box {
  margin-bottom: 20px;
}

.filters-box select {
  width: 100%;
  padding: 10px;
}

.h3-store {
  margin-bottom: 1rem;
}

.price-filter {
  margin-top: 3rem;
}

.button-filtrar {
  background: linear-gradient(to bottom right, #7511b8a6, #a143f8b6);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "quicksand";
  font-weight: 500;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 2rem;
}

.button-filter-store {
  display: flex;
  justify-content: flex-end;
}

.button-filtrar:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.render-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-family: "quicksand";
}

.hidden-select {
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "quicksand";
}

select ul li:hover {
background-color:  #e71111;
}


@media (min-width: 769px) {
  .hidden-large {
    display: none;
  }

  .render-select {
    display: none;
  }
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
    align-items: center;
    text-align: center;
  }

  .filters-box {
    margin-bottom: 10px;
  }

  .sidebar ul li {
    display: none;
  }

  .hidden-select {
    display: block;
  }

  .product-list {
    display: none;
  }
}

.link {
  color: #7b60c8;
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-left: 15rem;
}

.pagination button {
  border: none;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button.active {
  background-color: #d3599f;
  color: #fff;
}

.pagination .arrow-button {
  color: #d3599f;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .arrow-button:hover {
  background-color: #7b60c8;
  color: wheat;
}

.pagination .arrow-button:disabled {
  color: #888;
  cursor: not-allowed;
}
