.navbar-store {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 5%;
  text-transform: capitalize;
  font-family: "figtree";
  background-image: url(../../assets/bgDetailop5.png);
}

@media (max-width: 870px) {
  .store-container {
    width: 100%;
    align-items: center;
  }
}

.sidebar {
  margin-top: 4rem;
  width: 16rem;
  height: 100%;
  background-color: #f8f8f8;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 8rem;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

.sidebar ul li {
  text-align: center;
  cursor: pointer;
  list-style-type: none;
  margin:0.5rem;
}

.sidebar span {
  width: 100%;
  font-weight: bold;
  background-color: #f38f82;
  color: white;
}

@media (max-width: 870px) {
  .sidebar span {
    width: 100%;
    align-items: center;
    color: black;
    background-color: white;
    font-weight: normal;
  }
  .ul-categories {
    display: none;
  }
  ul .title-subcategories-sidebar {
    display: none;
  }

  .searchBar-filter {
    padding-top: 2rem;
    padding-inline: 1rem;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.searchBar-filter {
  padding-top: 2rem;
  padding-inline: 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  cursor: pointer;
}

.searchBar-filter button {
  background-color: #317d24;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-family: "figtree";
  display: flex;
  align-items: center;
  outline: transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 870px) {
  .searchBar-filter {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    padding-top: 0;
    padding-inline: 0;
  }

  .searchBar-filter button {
    background-color: #317d24;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-family: "figtree";
    display: flex;
    align-items: center;
    outline: transparent;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    height: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.input-searchBar-store {
  align-items: center;
  display: flex;
}

.title-categories-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #91be7f;
  color: white;
  font-family: "figtree";
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
}

.title-subcategories-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #91be7f;
  color: white;
  font-family: "figtree";
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
}

.sidebar ul li.active {
  font-weight: bold;
  list-style-type: none;
  color: #317d24;
}

.sidebar-categories {
  font-size: 20px;
  padding: 1rem;
}

.input-searchItem-sidebar {
  margin-top: 0.5rem;
}

@media (max-width: 870px) {
  .input-searchItem-sidebar {
    width: 50%;
    align-items: center;
  }

  .input-searchBar-store {
    align-items: center;
    display: flex;
    height: 2rem;
    margin: 0 !important;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  margin-top: 15rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  gap: 0.5rem;
  margin-left: 15rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  flex: 1;
  gap: 1rem;
}

@media (max-width: 870px) {
  .product-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-left: 0;
    padding-top: 0;
    gap: 1rem;
    flex: none;
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  gap: 1rem;
  padding-inline: 2rem;
}

@media (max-width: 870px) {
  .cards-container {
    padding-inline: 0;
    gap: 1.5rem;
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .cards-container {
    gap: 0;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 17rem;
  height: 18rem;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  color: #333333;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 1rem;
}

@media (max-width: 600px) {
  .product-card {
    width: 95%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: none;
    border: 1px solid #e2e2e2;
  }
}

a {
  text-decoration: none;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  height: 85%;
}

@media (max-width: 600px) {
  .product-image {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;
    width: 100%;
  }
}

.product-image img {
  width: 15rem;
  height: 7rem;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .product-image img {
    max-width: 5rem;
    height: 4rem;
    border-radius: 5px;
    object-fit: cover;
  }
}

.detail-info-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  gap: 1rem;
}

.title-store {
  text-align: center;
  font-size: 1rem;
  font-family: "figtree";
}

@media (max-width: 870px) {
  .title-store {
    margin-top: 0;
  }
}

.price {
  font-family: "figtree";
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 870px) {
  .detail-price {
    font-size: 1rem;
  }
}

.detail-quantity-store {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.btn-see-more {
  background-color: #f8f8f8;
  border: 1px solid #619d52;
  border-radius: 25px;
  color: #619d52;
  cursor: pointer;
  display: inline-block;
  font-family: "figtree";
  font-size: 14px;
  outline: transparent;
  text-align: center;
  align-items: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  padding: 0.2rem;
  width: 5rem;
  height: 2rem;
}

@media (min-width: 600px) {
  .btn-see-more {
    display: none;
  }
}

.buttons-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  gap: 5px;
  align-items: center;
}

.quantity-store {
  font-family: "figtree";
  margin: 0.5rem;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-to-cart-button-store {
  background-color: #317d24;
  border: 0;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "figtree";
  font-size: 12px;
  outline: transparent;
  padding-inline: 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (max-width: 870px) {
  .add-to-cart-button-store {
    height: 2rem;
  }
}

.add-to-cart-button-store:not([disabled]):focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.add-to-cart-button-store:not([disabled]):hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.filters-box {
  margin-bottom: 20px;
}

.filters-box select {
  width: 100%;
  padding: 10px;
}

.h3-store {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #91be7f;
  color: white;
  font-family: "figtree";
}

.price-filter {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 870px) {
  .price-filter {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .h3-store {
    display: none;
  }
}

.button-filtrar {
  background-color: #317d24;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "figtree";
  outline: transparent;
  padding: 0 1rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  height: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-filtrar:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.button-filter-store {
  display: flex;
  justify-content: left;
}

@media (min-width: 870px) {
  .button-filtrar {
    width: 5rem;
    height: 1.5rem;
    font-size: 12px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-filter-store {
    display: flex;
    justify-content: left;
    margin-top: 0.5rem;
  }
}

@media (max-width: 870px) {
  .button-filtrar {
    height: 2rem;
    font-size: 14px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.render-select {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin-top: 0.5rem;
  font-family: "figtree";
  gap: 1rem;
  z-index: 1;
}

.hidden-select {
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "figtree";
}

@media (min-width: 870px) {
  .hidden-large {
    display: none;
  }

  .render-select {
    display: none;
  }
}

@media (max-width: 870px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: static;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #f8f8f800;
  }

  .filters-box {
    margin-bottom: 10px;
  }

  .sidebar ul li {
    display: none;
  }

  .hidden-select {
    display: block;
  }

  .product-list {
    display: none;
  }
}

.link {
  color: #7b60c8;
}

@media screen and (max-width: 870px) {
  .pagination {
    margin-left: 0;
  }
}

@media screen and (min-width: 870px) {
  .pagination {
    margin-left: 15rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

.pagination button {
  font-family: "figtree";
  border: none;
  color: #333;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination button:hover {
  background-color: #f38f82;
  color: white;
}

.pagination button.active {
  background-color: #f38f82;
  color: #fff;
}

.pagination .arrow-button {
  color: #f38f82;
  font-size: 14px;
  font-weight: bold;
  width:2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .arrow-button:hover {
  background-color: #f38f82;
  color: rgb(255, 255, 255);
}

.pagination .arrow-button:disabled {
  color: #888;
  cursor: not-allowed;
}

.input-price-store[type="number"] {
  padding: 0.3rem;
  border: 1px solid #317d24;
  border-radius: 5px;
  font-size: 12px;
  font-family: "figtree";
  resize: none;
  width: 6.5rem;
  height: 2rem;
}

@media (min-width: 870px) {
  .input-price-store[type="number"] {
    padding: 0.5rem;
  }
}

.inputs-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7rem;
}

@media screen and (max-width: 870px) {
  .inputs-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .button-filter-store {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul span {
    display: none;
  }
}

ul {
  font-family: "figtree";
}

.store-container.blur {
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.swal-container-store {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "figtree";
}

.swal-content {
  display: flex;
  align-items: center;
}

.title-add-to-cart {
  font-size: 20px;
  color: #317d24;
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}
.color5 {
  color: #f2ffd9;
}
