.home-admin {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.product-sales-message-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
}

.product-sales-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.product-management,
.sales-management,
.messages-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  
}

.product-management > *,
.sales-management > *,
.messages-container > * {
  margin: 10px 0;
}
