.home-admin {
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/bgadmin.png);
  overflow-x: hidden;
  padding: 0.5rem;
}

.product-sales-message-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
}

.product-sales-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product-management,
.sales-management,
.messages-container {
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
}
