.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  background-image: url(../../assets/bgDetailop3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 1rem;
}

.info-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #f38f82;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 70rem;
}

@media (max-width: 1340px) {
  .profile-card {
    max-width: 100%;
  }
}

.profile-card img {
  display: flex;
  flex-wrap: wrap;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.edit-avatar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35rem;
  gap: 20px;
  margin-bottom: 2rem;
}

@media (max-width: 670px) {
  .edit-avatar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
}

.edit-avatar img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 670px) {
  .edit-avatar img {
    height: 6rem;
    width: 6rem;
  }
}

.edit-avatar img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.selected-avatar {
  border: 3px solid #7b60c8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-card h2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.profile-card p {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
}

.purchase-history-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 3rem;
  width: 70rem;
  border: 2px solid #7b60c8;
}

@media (max-width: 1340px) {
  .purchase-history-card {
    width: 90%;
  }
}

.purchase-history-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #7b60c8;
}

.purchase-history-card ul {
  list-style: none;
  padding: 0;
}

.purchase-history-card li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555555;
}

.profile-card input {
  margin-top: 20rem;
}
.profile-card input[type="text"] {
  display: flex;
  justify-content: center;
  max-width: 25rem;
  /* width: 25rem; */
  padding: 0.8rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 10px;
}

/* @media (max-width: 400) {
  .profile-card input[type="text"] {
    width: 80%;
  }
} */

.input-edit input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 350) {
  .input-edit input {
    width: 80%;
  }
}

.profile-card button {
  background-color: #7b60c8;
  border-radius: 15px;
  margin-top: 2rem;
  padding: 1rem;
  width: 8rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.profile-card button:hover {
  background-color: #d3599f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.profile-card button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.profile-card button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

input:focus {
  outline: none;
}
