.cart-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/bgKarkuStore.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  font-family: "quicksand";
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.cart-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
  width: 90%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1.5rem;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cart-item-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.image-cart {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.item-image-title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.product-info-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title-cart {
  font-family: "quicksand";
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.remove-button {
  display: flex;
  background-color: #ff3a0d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-family: "quicksand";
  font-weight: 500;
  font-size: 12px;
}

.remove-button:hover {
  background-color: #ff3a0d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quantity-button {
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity-button:hover {
  background-color: #f38f82;
  border: none;
}

.quantity-button-less {
  background-color: #f38f82;
  color: #fff;
  border: none;
  cursor: pointer;
}

.quantity-button-less {
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quantity-button-less:hover {
  background-color: #f38f82;
  border: none;
}

.quantity {
  font-size: 16px;
  font-family: "quicksand";
}

.p-total-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "quicksand";
}

.total {
  font-size: 16px;
  font-weight: bold;
  font-family: "quicksand";
}

.cart-summary {
  background-color: #f0f0f0;
  padding: 1rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "quicksand";
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 10px;
  border: 1px solid #4caf50;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.total-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.total-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .total {
    font-size: 16px;
  }
  .total-label {
    font-size: 16px;
  }
  .total-amount {
    font-size: 18px;
  }
  .checkout-button {
    font-size: 14px;
  }
}

.checkout-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "quicksand";
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.checkout-button:hover {
  background-color: #45a049;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 600px) {
  .cart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0.7rem;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .cart-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin: 0.8rem;
  }

  .cart-item-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
  }

  .img-title-container {
    width: 100%;
  }

  .image-cart {
    height: 2rem;
    width: 4rem;
    object-fit: cover;
  }

  .product-info-cart {
    width: 90%;
    padding-inline: 0.5rem;
  }

  .cart-summary {
    width: 23rem;
  }

  .item-image-title {
    display: flex;
    flex-direction: row;
  }

  .remove-button {
    height: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .quantity-control {
    display: flex;
    align-items: center;
  }

  .quantity-cart {
    margin: 1rem;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .quantity-button {
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .quantity-button:hover {
    background-color: #f38f82;
    border: none;
  }

  .quantity-button-less {
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .quantity-button-less:hover {
    background-color: #f38f82;
    border: none;
  }

  .quantity {
    font-size: 16px;
    font-family: "quicksand";
  }
}

@media (max-width: 600px) {
  .p-total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .title-cart {
    font-size: 1rem;
  }
}
