.cart-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/bgStore2.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  font-family: "figtree";
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.cart-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  width: 90%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  gap: 1.5rem;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #317d24;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cart-item-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  max-width: 30rem;
}

.image-cart {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.item-image-title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  max-width: 25rem;
}

.product-info-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 15rem;
}

.title-cart {
  font-family: "figtree";
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #91be7f;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 3rem;
  padding: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-family: "figtree";
  font-weight: 500;
  font-size: 12px;
}

.remove-button:hover {
  background-color: #ff3a0d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quantity-button {
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity-button:hover {
  background-color: #f38f82;
  border: none;
}

.quantity-button-less {
  background-color: #f38f82;
  color: #fff;
  border: none;
  cursor: pointer;
}

.quantity-button-less {
  background-color: #e0e0e0;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quantity-button-less:hover {
  background-color: #f38f82;
  border: none;
}

.quantity {
  font-size: 16px;
  font-family: "figtree";
}

.p-total-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "figtree";
}

.total {
  font-size: 16px;
  font-weight: bold;
  font-family: "figtree";
}

.cart-summary {
  background-color: #f0f0f0;
  padding: 1rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "figtree";
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 10px;
  border: 1px solid #317d24;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.total-label {
  font-size: 18px;
  font-weight: bold;
}

.total-amount {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .total {
    font-size: 16px;
  }
  .total-label {
    font-size: 16px;
  }
  .total-amount {
    font-size: 18px;
  }
  .checkout-button {
    font-size: 14px;
  }
}

.checkout-button {
  background-color: #317d24;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "figtree";
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.checkout-button:hover {
  background-color: #45a049;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 870px) {
  .cart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
    background-color: #f3f3f3;
    border: 1px solid #317d24;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .cart-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin: 0.8rem;
  }

  .cart-item-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width:100%;
  }

  .img-title-container {
    width: 100%;
  }

  .image-cart {
    height: 2rem;
    max-width: 3rem;
    object-fit: cover;
  }

  .product-info-cart {
    width: 90%;
    padding-inline: 0.5rem;
  }

  .cart-summary {
    width: 23rem;
    margin-top: 1rem;
  }

  .item-image-title {
    display: flex;
    flex-direction: row;
  }

  .remove-button {
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .quantity-cart {
    margin: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .quantity-button {
    background-color: #e0e0e0;
    color: #333;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .quantity-button:hover {
    background-color: #f38f82;
    border: none;
  }

  .quantity-button-less {
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .quantity-button-less:hover {
    background-color: #f38f82;
    border: none;
  }

  .quantity {
    font-size: 16px;
    font-family: "figtree";
  }
}

@media (max-width: 600px) {
  .p-total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title-cart {
    font-size: 1rem;
  }
}

.empty-cart-button {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 10px;
  border: 1px solid #317d24;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #111827;
  font-family: "figtree";
  font-size: 14px;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.empty-cart-button:hover {
  background-color: rgb(249, 250, 251);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.empty-cart-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.empty-cart-button:focus-visible {
  box-shadow: none;
}

.btn-buy {
  display: inline-block;
  padding: 10px 20px;
  font-family: "figtree";
  background-color: #619d52;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-buy:hover {
  background-color: #317d24;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}
.color5 {
  color: #f2ffd9;
}
