.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 3rem;
}

.login-hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  background-color: #317d24;
  color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-family: "figtree";
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.login-hello p {
  font-size: 20px ;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 35rem;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color:   #91be7f;
}

@media (min-width: 600px) {
  .login-form {
    min-width: 35rem;
  }
}

@media (max-width: 599px) {
  .login-form {
    width: 23rem;
  }
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px !important;
  font-family: "figtree";
}

.login-form input::placeholder {
  font-family: "figtree";
  font-style: italic;
  color: #999;
}

.login-form p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  text-decoration: none;
  font-family: "figtree";
  color: #ffffff;
  gap: 5px;
}

.login-form span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "figtree";
  font-weight: bold;
  color: #317d24;
  cursor: pointer;
}

.login-form span:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #cc7468;
}

.go-back-login {
  display: flex;
  justify-content: left;
  text-decoration: none;
  font-family: "figtree";
  color: #ffffff;
  cursor: pointer;
  margin-top: 1rem;
  width: 4rem;
}

.button-login {
  background-color: #317d24;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-family: "figtree";
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-form button:hover {
  background-color: #f38f82;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.login-form button:not([disabled]):focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.login-form button:not([disabled]):hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

button .recover-password-btn {
  background-color: red;
}

.error-message {
  display: flex;
  text-align: left;
  min-width: 10rem;
  color: #317d24;
  font-size: 0.85rem;
  padding: 2rem;
  font-family: "figtree";
}

input:focus {
  outline: none;
}

.text-register-p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "figtree";
  color: white;
  border-radius: 10px;
}

.text-register {
  display: flex;
  align-items: center;
  text-align: center;
  width: 23rem;
  background-color:  #317d24;
  font-family: "figtree";
  color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* COLORES USER */

.color1 {
  color: #317d24;
}
.color2 {
  color: #619d52;
}
.color3 {
  color: #91be7f;
}
.color4 {
  color: #c2deac;
}

.color5 {
  color: #f2ffd9;
}
