.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 3rem;
}

.login-hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f38f82;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  gap: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 35rem;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #f38f82;
}

@media (min-width: 600px) {
  .login-form {
    min-width: 35rem;
  }
}

@media (max-width: 599px) {
  .login-form {
    max-width: 25rem;
  }
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}

.login-form input::placeholder {
  font-style: italic;
  color: #999;
}

.login-form p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  gap: 5px;
}

.login-form span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #7b60c8;
  cursor: pointer;
}

.login-form a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d3599f;
}

.go-back-login {
  display: flex;
  justify-content: left;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1rem;
  width: 4rem;
}

.login-form button {
  background-color: #7b60c8;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-form button:hover {
  background-color: #d3599f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.login-form button:not([disabled]):focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.login-form button:not([disabled]):hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

button .recover-password-btn {
  background-color: red;
}

.error-message {
  display: flex;
  text-align: left;
  min-width: 10rem;
  color: #7b60c8;
  font-size: 0.85rem;
  padding: 2rem;
}

input:focus {
  outline: none;
}

h3 {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 15px;
}

.text-register {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  background-color: #7b60c8;
  color: white;
  border-radius: 15px;
  padding: 1.5rem;
}
