.navbar {
  background-color: #f38f82;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 5rem;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-family: "quicksand";
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #7b60c8;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  position: relative;
  transition: transform 0.3s ease;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  top: 8px;
}

.menu-button.open .menu-icon {
  background-color: transparent;
}

.menu-button.open .menu-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-button.open .menu-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 870px) {
  .menu-button {
    display: block;
    transition: background-color 0.3s ease;
  }

  .nav-links {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(-20px);
    opacity: 0;
    background-color: #f38f82;
    border-radius: 10px;
    width: 20rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
  }
  .nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .profile-menu.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

.profile-link {
  color: white;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
.profile-link:hover .fa-circle-user {
  color: #7b60c8;
}

.my-icon svg {
  font-size: 1.5rem;
}

.my-icon svg:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000005e;
  backdrop-filter: blur(2px);
  z-index: -1;
  pointer-events: auto;
}

.overlay.active {
  display: block;
}
